.logo{
  margin: 5rem 0 4rem;
}

.posts {
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--heading);
    margin-bottom: 8px;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  footer {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
      margin-right: .5rem;
    }

    time, span {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: var(--info);

      & + span {
        margin-left: 1.5rem;
      }
    }
  }
}

.loadPostsButton {
  background: transparent;
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--highlight);
  margin-top: 4rem;

  &:hover {
    text-decoration: underline;
  }
}
